<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>User Dashboard</title>
  </head>
  <body>
    <h1>Recommended Events</h1>

    <div class="event-container">
      {% for event in recommended_events %}
      <div class="event-card">
        <h3>
          <a href="{{ url_for('event_detail', event_id=event[0]) }}"
            >{{ event[1] }}</a
          >
        </h3>
        <p>{{ event[2] }}</p>
        <p><strong>Organized by:</strong> {{ event[3] }}</p>
        <p><strong>Date:</strong> {{ event[4] }}</p>
      </div>
      {% endfor %}
    </div>

    <a href="{{ url_for('logout') }}">Logout</a>
  </body>
</html>
