<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>{{ event[1] }} - Event Details</title>
  </head>
  <body>
    <h1>{{ event[1] }}</h1>
    <p><strong>Description:</strong> {{ event[2] }}</p>
    <p><strong>Organized by:</strong> {{ event[3] }}</p>
    <p><strong>Date:</strong> {{ event[4] }}</p>

    <a href="{{ url_for('index') }}">Back to Events</a>
  </body>
</html>
